.card {
  background-color: #d1e1ee;
  box-shadow: 4px 5px 10px rgb(228, 219, 219);
  padding: 10px;
  width: 300px;
}

.card li {
  list-style: none;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
